.room
{
    width:90%;
    margin:40px auto;
    padding:50px 50px 10px 50px;
    color:black;
    border-radius:15px;
    text-align:center;
    border:1px dotted black;
}
.data-con 
{
    display:flex;
}
.lit 
{
    background: #F09819;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EDDE5D, #F09819);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EDDE5D, #F09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:black;
}
.dark 
{
    background-color: rgb(31, 26, 26);
    color:white;
}
.btn 
{
    padding:15px 30px;
    background-color:green;
    border-radius:5px;
    font-size:1.3rem;
    font-weight: 600;
    color:white;
    border:0px solid black;
    margin:10px;
}
.btn:hover 
{
    color:rgb(255, 217, 2);
    background-color: black;
    cursor: pointer;
}
.instructions 
{
    text-align:left;
    border:0px solid black;
    padding:10px;
    display:inline-block;
    width:69%;
}
.instructions h2
{
    font-size:2rem;
}
.instructions ol li 
{
    font-size: 1rem;
    font-weight: 700;
}
.app-con 
{
    width:30%;
    padding:10px;
    border:1px solid black;
    border-radius:15px;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;
}

div p 
{
    padding:50px 0 0 0;
    font-size:1.3rem;
    
}